@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #FCFCFD;
  font-family: 'DM Sans', 'Poppins', sans-serif;

}

* {
    border-color: #353945;
}

a, input {
  color:#777E90;
}